:root {
	--ANIMATION_INTERVAL: 0.5s;
}

.opacity-0 {
	opacity: 0.05;
	transition: opacity var(--ANIMATION_INTERVAL) ease;
}

.transition-opacity-to-1 {
	opacity: 1;
  transition: opacity var(--ANIMATION_INTERVAL) ease;
}

.full_screen_div {
	align-items: center;
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 3;
	cursor: pointer;
}

.full_screen_div_opacity {
	background-color: grey;
	bottom: 0;
	left: 0;
	opacity: 0.4;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2;
}

.popup_window {
	max-height: calc(100vh - 4rem);
	background: white;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.9) 0px 13px 26px 0px;
	padding: 10px 25px 10px 20px;
	position: relative;
}

.popup_list {
	max-height: calc(100vh - 4rem);
	overflow-y: scroll;
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.cancel_button {
	position: absolute;
	top: 2px;
	right: 10px;
	cursor: pointer;
}

.popup__row {
	padding: 1rem 0;
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.popup__gap {
	padding-right: 10px;
}
