:root {
  --button_height: 2rem;
  --main_gap: 1rem;
}

.app__grid {
  display: grid;
  grid-column-gap: var(--main_gap);
  grid-row-gap: var(--main_gap);
}

@media (orientation: portrait) {
  .app__grid {
    height: 100vh;
    max-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr var(--button_height) 1fr;
    grid-template-areas: 'russian' 'info' 'english';
  }
  .overflow_y_scroll {
    max-height: calc(50vh - var(--button_height));
    overflow-y: scroll;
  }
}
@media (orientation: landscape) {
  .app__grid {
    max-height: 92vh;
    height: 92vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr var(--button_height);
    grid-template-areas: 'russian english' 'info info';
  }
  .overflow_y_scroll {
    max-height: calc(90vh - var(--button_height));
    overflow-y: scroll;
  }
}

.eng_text_color {
  color: #6b5ee0;
}

.invert__horizontal {
  transform: scaleX(-1);
}
/* .row {
  display: flex;
  align-items: center;

  .column + .column {
      margin-left: 10px;
  }

  .column.s + .column.s {
      margin-left: 5px;
  }

  .column.m + .column.m {
      margin-left: 10px;
  }

  .column.l + .column.l {
      margin-left: 30px;
  }

  .column.xl + .column.xl {
      margin-left: 40px;
  }

  & + & {
      margin-top: 20px;
  }
} */

.app__info {
  grid-area: info;
  /* background-color: lightgrey; */
}

.app__russian {
  grid-area: russian;
  /* background-color: grey; */
}
.app__english {
  grid-area: english;
  /* background-color: grey; */
}

.app__center {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.app__info2 {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.red-color {
  color : #00ffff;
}
