:root {
  --button_height: 2rem;
  --main_gap: 1rem;
  --trueHeight: calc(100vh - 1rem);
  /* --red-color: #add8e6; */
  --green-color: #6b5ee0;
  --font-size: 24px;

}
/* grid
============================================================= */
.app__grid {
  display: grid;
  font-size: var(--font-size);
  grid-column-gap: var(--main_gap);
  grid-row-gap: calc(var(--main_gap)/1);

  height: var(--trueHeight);
  max-height: var(--trueHeight);
}

@media (orientation: portrait) {
  .app__grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr var(--button_height) 1fr;
    grid-template-areas: 'russian' 'info' 'english';
  }
  .overflow_y_scroll {
    max-height: calc(50vh - var(--button_height));
    overflow-y: scroll;
  }
  .icon_rotate {
    transform: rotate(270deg);
  }
}
@media (orientation: landscape) {
  .app__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr var(--button_height);
    grid-template-areas: 'russian english' 'info info';
  }
  .overflow_y_scroll {
    max-height: calc(var(--trueHeight) - var(--button_height));
    overflow-y: scroll;
  }
  .icon_rotate {
    transform: rotate(90deg);
  }
}

.app__info {
  grid-area: info;
  /* background-color: lightgrey; */
}

.app__russian {
  grid-area: russian;
  padding: 0 -10px 0 -5px;
  /* background-color: grey; */
}
.app__english {
  grid-area: english;
  padding: 0 -10px 0 -5px;
  /* background-color: grey; */
}

/* font size and colors
============================================================= */

.eng_text_color {
  color: var(--green-color);
}
/* .red_text_color {
  color: var(--red-color);
} */

/* icons
============================================================= */

.icon_invert__horizontal {
  transform: scaleX(-1);
}


/* .row {
  display: flex;
  align-items: center;

  .column + .column {
      margin-left: 10px;
  }

  .column.s + .column.s {
      margin-left: 5px;
  }

  .column.m + .column.m {
      margin-left: 10px;
  }

  .column.l + .column.l {
      margin-left: 30px;
  }

  .column.xl + .column.xl {
      margin-left: 40px;
  }

  & + & {
      margin-top: 20px;
  }
} */

/* flex boxes
============================================================= */

.app__center {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.app__info2 {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
